@using TVS_App.Application.Commands.ServiceOrderCommands
@using TVS_App.Application.DTOs.ServiceOrder
@using TVSApp.Web.Handlers


<MudButton OnClick="AddPurchased" Disabled="_isProcessing" Size="Size.Large" IconColor="Color.Secondary" EndIcon="@Icons.Material.Filled.Done" Variant="Variant.Filled" Color="Color.Primary">
    <p class="text-white">@(@_isProcessing ? "Processando..." : "Comprado")</p>
</MudButton>

@code {
    [Parameter] public IMudDialogInstance DialogInstance { get; set; } = null!;
    [Parameter] public ServiceOrderDto ServiceOrder { get; set; } = null!;
    [Inject] public ServiceOrderHandler ServiceOrderHandler { get; set; } = null!;
    [Inject] public ISnackbar Snackbar { get; set; } = null!;

    private bool _isProcessing = false;
    public async Task AddPurchased()
    {
        try
        {
            _isProcessing = true;
            var result = await ServiceOrderHandler.AddPurchasedPart(new GetServiceOrderByIdCommand { Id = ServiceOrder.Id });
            if (result.IsSuccess)
            {
                DialogInstance.Close(DialogResult.Ok(true));
                Snackbar.Add(result.Message ?? "Compra adicionada com sucesso!", Severity.Success);
            }
            else
                Snackbar.Add(result.Message?? "Erro ao adicionar a compra da peça", Severity.Error);
            
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
        finally
        {
            _isProcessing = false;
        }
    }
}